h1 #{user._id}
ul
 li Screen Size: #{user.ScreenSize}
 li Memory Size: #{user.MemorySize}
 li Hard Drive Size: #{user.HardDriveSize}
 li Total Price: #{user.Price}
 br
 a(href="/computer") Created Computer
 br
 a(href="/computer/new/") Create new computer